@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,300,700&subset=latin,greek);

@font-face {
    font-family: 'PFFuturaRounded-Heavy';
    src: url('../fonts/PFFuturaRounded-Heavy.eot');
}

@font-face {
    font-family: 'PFFuturaRounded-Heavy';
    src: url('../fonts/PFFuturaRounded-Heavy.woff') format('woff'),
        url('../fonts/PFFuturaRounded-Heavy.svg#PFFuturaRounded-Heavy') format('svg');
}
@font-face {
    font-family: 'PFFuturaRounded-HeavyOblique';
    src: url('../fonts/PFFuturaRounded-HeavyOblique.eot');
}

@font-face {
    font-family: 'PFFuturaRounded-HeavyOblique';
    src: url('../fonts/PFFuturaRounded-HeavyOblique.woff') format('woff'),
        url('../fonts/PFFuturaRounded-HeavyOblique.svg#PFFuturaRounded-HeavyOblique') format('svg');
}
@font-face {
    font-family: 'PFFuturaRounded-Light';
    src: url('../fonts/PFFuturaRounded-Light.eot');
}

@font-face {
    font-family: 'PFFuturaRounded-Light';
    src: url('../fonts/PFFuturaRounded-Light.woff') format('woff'),
        url('../fonts/PFFuturaRounded-Light.svg#PFFuturaRounded-Light') format('svg');
}
@font-face {
    font-family: 'PFFuturaRounded-LightOblique';
    src: url('../fonts/PFFuturaRounded-LightOblique.eot');
}

@font-face {
    font-family: 'PFFuturaRounded-LightOblique';
    src: url('../fonts/PFFuturaRounded-LightOblique.woff') format('woff'),
        url('../fonts/PFFuturaRounded-LightOblique.svg#PFFuturaRounded-LightOblique') format('svg');
}
